*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    height: 70px;
    width: 100%;
    border: 1px solid black;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    width: 15%;
    height: 60%;
    border: 1px solid black;
}

.nav_search{
    width: 35%;
    height: 60%;
    border: 1px solid black;
}

.nav_icons{
    width: 15%;
    height: 60%;
    border: 1px solid black;
}


.main{
    width: 100%;
    height: 604px;
    border: 1px solid black;
    background-color: aqua;
    display: flex;
}

.sidebar{
    width: 15%;
    height: 100%;
    border: 1px solid black;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.sidebar_section{
    min-height: 8%;
    width: 90%;
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.homepage{
     height: 100%;
     width: 85%;
     border: 1px solid black;
     background-color: blueviolet;
    /* flex-direction: column;   */
}

.nav{
   height: 10%;
   width: 100%;
   border: 1px solid black;
   background-color: brown;
   display: flex;
   align-items: center;
   overflow-x: scroll;
   overflow-y: hidden;
   scrollbar-width: none;
}

.nav_section{
    min-width: 10%;
    min-height: 70%;
    border: 1px solid black;
    background-color: rgb(172, 162, 162);
    margin-left: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.homepage_section{
   height: 90%;
   width: 100%;
   border: 1px solid black;
   background-color: chocolate;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-x: hidden;
   overflow-y: scroll;
   scrollbar-width: none;
}

.video_section{
    min-height: 60%;
    width: 100%;
    border: 1px solid black;
    background-color: crimson;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.video{
    width: 31%;
    height: 90%;
    border: 1px solid black;
    background-color: coral;

}